# Aiken compilation artifacts
artifacts/
# Aiken's project working directory
build/
# Aiken's default documentation export
docs/

**/.env
**/node_modules

.claude
.opencode
**/docs
**/plans
**/CLAUDE.md
**/.repomixignore
iot1-sensor-data-store/repomix-output.xml
