# Aiken compilation artifacts
artifacts/
# Aiken's project working directory
build/
# Aiken's default documentation export
docs/

**/.env
**/node_modules

.claude
.opencode
**/docs
**/plans
**/CLAUDE.md
**/.repomixignore
**/repomix-output.xml
**/ssh