OWNER="abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon beef crack"
AUTHORIZOR="ring tide wealth trick boring wolf animal meadow pumpkin inject assist upon finish slot obtain boil road injury sell audit zoo bottom number forget"
BLOCKFROST_API_KEY="preprodd5DPyqaYr9wHq61rSloWWgT4dM4wM23A"
FRONT_END_HOST="https://iot2.trustorstudio.com/"
SERVER_PORT=8002