server {
    listen 8001;
    server_name 217.217.253.66 api.iot1.htlabs.xyz;

    location / {
        proxy_pass http://localhost:8001; 
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}